/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 800px;
}

/* Heading Styles */
.pageTitle {
  color: #2c3e50;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.mytag-content .tags {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

/* Tags Content Styles */
.mytag-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Tag Styles */
.mytag {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.mytag-label:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.mytag-label {
  width: 300px;
  margin: 0;
  padding: 5px;
  font-size: 24px;
  color: #2980b9;
  background-color: #ecf0f1;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

/* Buttons Container Styles */
.tags .buttons {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Button Styles */
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}

.button.edit-button {
  background-color: #27ae60;
  color: white;
}

.button.delete-button {
  background-color: #e74c3c;
  color: white;
}

.button.add-button {
  background-color: #f39c12;
  color: white;
}

.button:hover {
  background-color: #34495e;
}

/* Form Container Styles */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* Form Input Styles */
.form-input {
  padding: 12px;
  border: none;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 15px;
  background-color: #ecf0f1;
  color: #333;
}

.form-input::placeholder {
  color: #999;
}

/* Placeholder Color */
::placeholder {
  color: #999;
}